.clearfix {
  zoom: 1;
}
.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
#primary-header {
  background: url(../img/head-bg.png) no-repeat center right;
  padding: 15px;
}
#primary-header .logo {
  float: left;
  display: inline;
  padding-right: 10px;
}
#primary-header h1 {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  color: #fff;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
}
#primary-nav {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
  width: 100%;
  letter-spacing: 0.2em;
}
#primary-nav .parent {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  zoom: 1;
  display: inline;
}
#primary-nav .parent:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
#primary-nav .parent > li {
  float: left;
  display: inline;
  position: relative;
}
#primary-nav .parent > li > a {
  float: left;
  display: inline;
  transition: background-color, fast;
  -o-transition: background-color, fast;
  -ms-transition: background-color, fast;
  -moz-transition: background-color, fast;
  -webkit-transition: background-color, fast;
  transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  -ms-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -webkit-transition: background-color, 0.2s;
  width: 115px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #333;
}
#primary-nav .parent > li > a:hover {
  text-decoration: none;
}
#primary-nav .parent > li:hover > a {
  background-color: #ddd;
}
#primary-nav .sub {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  position: absolute;
  left: 0;
  top: 53px;
  z-index: 9;
  display: none;
  background-color: #ddd;
  opacity: 0.9;
}
#primary-nav .sub a {
  display: block;
  width: 115px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  color: #333;
}
#primary-nav .sub a:hover {
  text-decoration: none;
}
#primary-nav .sub a:hover {
  background-color: #bbb;
  opacity: 1;
}
.nav-fix-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
footer {
  background: url(../img/foot-bg.jpg) no-repeat center right;
  background-size: cover;
  color: #eee;
  padding: 30px 0 15px 0;
}
footer img {
  width: 90px;
  height: auto;
}
#go-to-top {
  position: fixed;
  right: 25px;
  bottom: 60px;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../img/up.png);
}
#go-to-top:hover {
  background-image: url(../img/up_hover.png);
}
#slider {
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
#slider .carousel-caption {
  font-size: 1.4em;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin-bottom: 30px;
}
#slider .carousel-control {
  font-size: 2em;
}
#slider .left i {
  position: absolute;
  left: 15px;
  top: 50%;
}
#slider .right i {
  position: absolute;
  right: 15px;
  top: 50%;
}
#main {
  padding-bottom: 30px;
}
.main-box {
  margin-top: 40px;
}
.main-box .box-header {
  position: relative;
  margin-bottom: 15px;
}
.main-box h3 {
  margin: 0;
  padding: 0;
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  letter-spacing: 0.2em;
}
.main-box h3 i {
  transition: transform, slow;
  -o-transition: transform, slow;
  -ms-transition: transform, slow;
  -moz-transition: transform, slow;
  -webkit-transition: transform, slow;
  transition: transform, 0.8s;
  -o-transition: transform, 0.8s;
  -ms-transition: transform, 0.8s;
  -moz-transition: transform, 0.8s;
  -webkit-transition: transform, 0.8s;
  margin: 0 0.5em 0 0.5em;
}
.main-box:hover h3 i {
  transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.main-box .more {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #014da1;
}
.main-box .more:hover {
  color: #ff4599;
  text-decoration: none;
}
.main-box ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}
.main-box ul li {
  margin-bottom: 15px;
  line-height: 1.8em;
  position: relative;
}
.main-box ul a {
  color: #333;
  font-size: 1.0em;
}
.main-box ul a:hover {
  color: #014da1;
  text-decoration: none;
}
.main-box ul time {
  color: #888;
  font-size: 0.8em;
  margin-right: 10px;
}
#latest-development li a {
  position: absolute;
  left: 35%;
  top: 0;
  padding-left: 10px;
  width: -34%;
}
#latest-development li p {
  margin: 0;
  padding: 0;
}
#latest-development li hr {
  margin: 0;
  padding: 0;
}
#latest-development li img {
  display: inline-block;
  width: 35%;
  height: auto;
}
#scholar-activity li {
  height: 48px;
}
#scholar-activity li a {
  position: absolute;
  left: 60px;
  top: 0;
  padding-left: 10px;
  width: 80%;
}
#scholar-activity li time {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 48px;
  font-size: 1em;
  line-height: 24px;
}
#scholar-activity li .year-month {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #29496b;
  color: #fff;
}
#scholar-activity li .day {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #e8e8e8;
  color: #29496b;
}
#important-notation li {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#list-page {
  padding: 50px 80px 50px 40px;
}
#list-page .page-head {
  position: relative;
}
#list-page .page-head h2 {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
  border-bottom: 2px solid #014da1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#list-page .page-head .currpath {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
#list-page .page-head .currpath a:hover,
#list-page .page-head .currpath a:link {
  text-decoration: none;
}
#list-page .page-head .currpath a:after {
  content: ' >> ';
}
#list-page .page-head .currpath a:last-child:after {
  content: '';
}
#list-page .page-body ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  padding-right: 50px;
}
#list-page .page-body li {
  border-bottom: 1px dotted #ccc;
}
#list-page .page-body li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#list-page .page-body .news-list li {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 13px;
}
#list-page .page-body .news-list a {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #333;
}
#list-page .page-body .news-list a:hover {
  color: #014da1;
}
#list-page .page-body .news-list time {
  color: #333;
  position: absolute;
  right: 0;
  bottom: 0;
}
#list-page .page-body .media-list {
  padding-top: 10px;
}
#list-page .page-body .media-list li {
  padding-bottom: 20px;
  margin-bottom: 30px;
}
#list-page .page-body .media-list img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  transition: box-shadow, fast;
  -o-transition: box-shadow, fast;
  -ms-transition: box-shadow, fast;
  -moz-transition: box-shadow, fast;
  -webkit-transition: box-shadow, fast;
  transition: box-shadow, 0.2s;
  -o-transition: box-shadow, 0.2s;
  -ms-transition: box-shadow, 0.2s;
  -moz-transition: box-shadow, 0.2s;
  -webkit-transition: box-shadow, 0.2s;
}
#list-page .page-body .media-list img:hover {
  zoom: 1.01;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#list-page .page-body .media-list h4 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 1.3em;
  margin: 5px 0 15px 0;
  text-align: center;
}
#list-page .page-body .media-list p {
  color: #555;
  text-indent: 2em;
}
#list-page .page-foot {
  position: relative;
  border-top: 1px solid #014da1;
  padding-top: 25px;
}
#list-page .page-foot .page-navigation {
  text-align: center;
}
#list-page .page-foot .page-navigation a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 15px;
  color: #666;
  cursor: pointer;
  transition: background-color, fast;
  -o-transition: background-color, fast;
  -ms-transition: background-color, fast;
  -moz-transition: background-color, fast;
  -webkit-transition: background-color, fast;
  transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  -ms-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -webkit-transition: background-color, 0.2s;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px, 0, 0, 0;
  -o-border-radius: 4px, 0, 0, 0;
  -ms-border-radius: 4px, 0, 0, 0;
  -moz-border-radius: 4px, 0, 0, 0;
  -webkit-border-radius: 4px, 0, 0, 0;
}
#list-page .page-foot .page-navigation a:hover {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}
#list-page .page-foot .page-navigation a:link {
  text-decoration: none;
}
#list-page .page-foot .page-navigation select {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 15px;
  color: #666;
  cursor: pointer;
  transition: background-color, fast;
  -o-transition: background-color, fast;
  -ms-transition: background-color, fast;
  -moz-transition: background-color, fast;
  -webkit-transition: background-color, fast;
  transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  -ms-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -webkit-transition: background-color, 0.2s;
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px, 0, 0, 0;
  -o-border-radius: 4px, 0, 0, 0;
  -ms-border-radius: 4px, 0, 0, 0;
  -moz-border-radius: 4px, 0, 0, 0;
  -webkit-border-radius: 4px, 0, 0, 0;
}
#list-page .page-foot .page-navigation select:hover {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}
#list-page .page-foot .page-info {
  position: absolute;
  right: 0;
  top: 2px;
}
#list-page .page-foot .page-info span {
  margin-right: 10px;
  color: #666;
}
#article-page {
  padding: 50px 80px 50px 40px;
}
#article-page .page-head h2 {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  font-weight: bold;
  border-top: 2px solid #014da1;
  padding-top: 20px;
  margin: 5px 0 15px 0;
  text-align: center;
}
#article-page .page-head .currpath {
  color: #666;
}
#article-page .page-head .currpath a {
  color: #666;
}
#article-page .page-head .currpath a:hover,
#article-page .page-head .currpath a:link {
  color: #014da1;
  text-decoration: none;
}
#article-page .page-head .currpath a:after {
  content: ' >> ';
}
#article-page .page-head .currpath a:last-child:after {
  content: '';
}
#article-page .page-head ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  text-align: center;
  margin-bottom: 20px;
}
#article-page .page-head li {
  display: inline-block;
  margin-right: 30px;
  color: #999;
  font-size: 0.9em;
}
#article-page .page-head li:last-child {
  margin-right: 0;
}
#article-page .page-body {
  line-height: 2em;
  border-bottom: 1px solid #014da1;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#article-page .page-foot .page-attachment {
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
}
#article-page .page-foot .page-attachment h4 {
  color: #014da1;
  font-size: 1.2em;
  font-weight: bold;
}
#article-page .page-foot .page-attachment ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}
#article-page .page-foot .page-attachment a {
  color: #333;
  line-height: 1.8em;
}
#article-page .page-foot .page-attachment a:hover {
  color: #014da1;
}
#article-page .page-foot .page-attachment a:link {
  text-decoration: none;
}
#article-page .page-foot .page-neighbor {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}
#article-page .page-foot .page-neighbor li {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 0.9em;
}
