body {
    font-family: @font-yahei;
    font-size: 14px;
    box-sizing: border-box;
}

a:hover {
    color: @yellow;
    text-decoration: none;
}

// 覆盖大屏幕下默认的container宽度
@media ( min-width : 1200px) {
	.container {width: 1170px}
}
@media ( min-width : 1300px) {
	.container {width: 1170px}
}
@media ( min-width : 1400px) {
	.container {width: 1170px}
}