@import "_variables";
@import "_mixin";
@import "_global";
@import "_header";
@import "_footer";
@import "components/_slider";
@import "components/_rollpic";
@import "components/_calendar-card";

#index-slider {
    .thumbnail-slider();
}

#index-vedio-list {
    .indicator-slider();
}

#index-book-list {
    .rollpic();
}

// 上下滚动的通知
#index-notice {
    background-color: #efefef;
    // 标题
    h4 {
        font-size: 16px;
        font-family: @base-font;
        color: darken(@yellow, 10%);
        margin-right: 20px;
        letter-spacing: 2px;
    }
    // 文字
    .scrollText{
        height: 12px;
        overflow: hidden;
        .ellipsis(100%);
    }
    // 控制按钮
    .cl {
        position: relative;
        height: 36px;

        .btn {
            @btn-size: 19px;
            display: inline-block;
            width: @btn-size;
            height: @btn-size;
            line-height: @btn-size;
            padding: 0;
            position: absolute;
            left: 15px;

            i:before {
                line-height: @btn-size;
            }
        }
        .up {
            bottom: 0;
        }
        .down {
            top: 0;
        }
    }
}

#index-group-list {
    li {
        @height: 50px;
        .ellipsis(50%);
        float: left;
        height: @height;
        line-height: @height;
    }
    a {
        font-weight: bold;
        font-size: 16px;
    }
    i.fa {
        margin-right: 15px;
        font-weight: lighter;
        color: darken(@blue, 10%);
    }
}

// 纯文字列表
#index-course-list,
#index-change-list {
    span {
        display: inline-block;
        .ellipsis(74%);

        &:before {
            font-family: @font-awesome;
            content: "\f0da";
            color: @yellow;
            margin-right: 6px;
        }
    }

    time {
        color: #888;
        float: right;
        font-size: 13px;
        font-family: @font-geo;
    }
}

// 突出时间的列表
#index-conference-list {
    @h: 46px;
    @time-w: 60px;
    @dark-color: darken(@blue, 15%);
    @light-color: #e8e8e8;

    li {
        height: @h;
        position: relative;
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }

        // 文字
        a {
            position: absolute;
            left: @time-w;
            top: 0;
            padding-left: 10px;
            .ellipsis-2(80%);
        }
        // 时间
        time {
            font-family: @font-geo;
            position: absolute;
            left: 0;
            top: 0;
            .calendar-card(@time-w, @h, @dark-color, @light-color);
        }
    }
    a:hover {
        color: @yellow;
    }
}

// 左侧图片、右侧文字的列表
#index-magazine-list,
#index-bridge-list {
    li {
        margin-bottom: 9px;

        // 文字
        p {
            margin: 0;
            padding: 0;
            margin-top: 1px;
            padding-top: 1px;
            border-top: 1px solid #eee;
        }
        // 图片
        .img-container {
            width: 100%;
            height: 70px;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            transition: transform  0.3s ease-out;
        }
        // 时间
        time {
            font-family: @font-geo;
            font-size: 13px;
            color: #888;
            &:before {
                font-family: @font-awesome;
                content: "\f017";
                margin-right: 10px;
            }
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}
