@import 'utils', 'variables', 'compass';

/* 工具区 */
#primary-util {
  $height: 22px;
  $bgc: #000;
  $color-bar-bgc: darken($style-color, 5%);
  $line-color: #999;
  $text-color: #999;
  $text-hover-color: lighten($text-color, 10%);

  background-color: $bgc;
  font-family: $font-family-ht;
  height: $height;
  font-size: 14px;
  position: relative;

  // 颜色条
  .color-bar {
    position: absolute;
    left: 0;
    height: $height;
    width: 50%;
    background-color: $color-bar-bgc;
  }

  // 链接的布局
  .util-list {
    @include clearfix();
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    float: right;
    position: relative;
    z-index: 2;
    background-color: $bgc;
  }

  li {
    display: inline-block;
    float: left;
    width: 90px;
    height: $height;
    line-height: $height;
    text-align: center;
    border-right: 1px solid $line-color;

    &:last-child {
      border-right: 0;
    }
  }

  // 文字颜色
  a {
    color: $text-color;

    &:hover {
      color: $text-hover-color;
    }
  }
}

/* logo */
#primary-logo {
  background-color: #EFF8FF;
  padding: 5px 0;
  overflow: hidden;
}

/* 导航栏 */
#primary-nav {
  $nav-bgc: $style-color;
  $nav-hover-bgc: darken($style-color, 10%);
  $nav-line-bgc: darken($style-color, 5%);
  $nav-font-size: 15px;

  background-color: #EFF8FF;
  @include border-radius(0);
  border: 0;
  margin-bottom: 0;

  // 上边线
  .container {
    border-top: 1px solid #eee;
  }

  // 一级菜单
  .navbar-nav>li>a,
  .navbar-brand {
    color: $style-color;
    font-size: $nav-font-size;
    @include transition(background-color 0.6s);
      &:hover {
        color: $nav-hover-bgc;
        background-color: #e7e7e7;
      }
  }

  // 二级菜单
  .dropdown-menu {
    background-color: $nav-bgc;
    a {
      color: #fff;
      font-size: $nav-font-size - 1;
      line-height: 2*$nav-font-size;
      background-color: $nav-bgc;
      @include transition(background-color 0.4s);
      &:hover {
        background-color: $nav-hover-bgc;
      }
    }
  }

  // 菜单折叠时的边框
  .navbar-collapse {
    border-color: $nav-line-bgc;
  }

  // 折叠按钮
  .navbar-toggle {
    border-color: $nav-line-bgc;
    background-color: $nav-line-bgc;

    &:focus,
    &:hover {
      background-color: $nav-hover-bgc;
    }

    .icon-bar {
      background-color: #fff;
    }
  }
}