// 颜色
$style-color: #990000;
$font-color: #333333;

// 字体
$font-family: Helvetica, Arial, sans-serif;
$font-family-ht: 'simhei', '黑体', $font-family;
$font-family-wryh: 'Microsoft Yahei', '微软雅黑', $font-family;
$font-family-fzltxh: '方正兰亭细黑', $font-family;

// 浏览器
$supported-browsers: safari, chrome, firefox, ie;