@import 'utils', 'variables', 'compass';

/* 通用的样式 */
body {
  	@include box-sizing(border-box);
}

/* 通用的头部 */
@import 'header';

/* 通用的页脚 */
@import 'footer';

/* 首页轮播图 */
#index-slider {
	border-top: 6px solid #cbcbcb;
    border-right: 3px solid #cbcbcb;
    border-left: 3px solid #cbcbcb;

	// 导航点
	.carousel-indicators .active {
		background-color: $style-color;
	}

	// 图片标题
    .carousel-caption {
    	background-color: rgba(255, 0, 0, 0.2);
    	padding: 10px;
    	margin: 0;
    	margin-bottom: 35px;
    	font-size: 16px;
    	font-weight: normal;
    }

	// 上下页箭头
    .carousel-control {
        font-size: 2em;
    }
    .left i {
    	position: absolute;
    	left: 15px;
    	top: 50%;
    }
    .right i {
        position: absolute;
    	right: 15px;
    	top: 50%;
    }

	// 宽屏
    img {
    	width: 100%;
    }
}

/* 首页每个区域的标题 */
.index-sub-titile {
    $line-width: 50%;
    $text-width: 140px;
    $text-height: 20px;

    // 分割线
    position: relative;
    border-top: 1px solid #ccc;
    height: 1px;
    width: $line-width;
    margin: 20px auto;

    // 文字
    &-text {
        // 文字样式
        color: $style-color;
        font-weight: bold;
        font-family: $font-family-wryh;
        text-align: center;
        // 文字位置
        position: absolute;
        width: $text-width;
        height: $text-height;
        top: - $text-height/2;
        left: 50%;
        margin-left: - $text-width/2;
        z-index: 2;
    }
}

/* 首页banner区域 */
#index-banner {
    $bgc: #fff;

    .index-sub-titile-text {
        background-color: $bgc;
    }

    padding-bottom: 20px;
}

/* 首页内容区域 */
#index-content {
    $bgc: #efefef;
    $box-bgc: #fff;
    $box-border: #e5e5e5;
    $line-color: #e5e5e5;

    background-color: $bgc;

    .index-sub-titile-text {
        background-color: $bgc;
    }

    .content-box {
        height: 100px;
        border: 1px solid $box-border;
        background-color: $box-bgc;
        margin-bottom: 20px;
        @include transition(box-shadow 0.2s);

        &:hover {
            @include box-shadow(5px 5px 5px rgba(0,0,0,0.1));
        }

        // 盒子头部
        &-header {
            position: relative;
            border-bottom: 1px solid $line-color;

            // 标题
            h5 {
                padding-left: 10px;
                margin-left: 10px;
                border-left: 4px solid $style-color;
                font-size: 16px;
                line-height: 20px;
            }

            // 更多
            .more {
                position: absolute;
                right: 10px;
                top: 0;
                font-size: 13px;
                color: $style-color;

                &:hover {
                    color: darken($style-color, 10%);
                    text-decoration: none;
                }
            }
        }
    }
}

/* 首页相关链接 */
#index-related {
    $bgc: #EFF8FF;
    background-color: $bgc;

    .index-sub-titile-text {
        background-color: $bgc;
    }
}

