@import "_variables";

#primary-header {
    border-top: 15px solid @dark-blue;
    background-color: #F7F7F7;
    
    .primary-header-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logo {
        max-width: 100%;
    }
}

#primary-nav {
    display: inline-block;
    position: relative;
    top: 40px;
    
    .navbar {
        background-color: #F7F7F7;
    }

    .navbar-nav.nav-collapse {
        max-height: 9999px !important;
        overflow: visible;
    }

    .dropDown-menu.menu {
        opacity: 0.9;
    }

    li.dropDown.open > ul{
        display: block;
    }
}

#nav-toggle {
    z-index: 999;
}