/*
媒体查询参数：
小屏：0 <    screen <=700
中屏：701 <= screen <=992
大屏：992 <= screen

大屏设备优先
 */


/* 通用标签
 * =======================================================
 */

body {
    font: 16px 'Microsoft Yahei', '微软雅黑', Helvetica, Arial, sans-serif;
}


/* 链接 */

a {
    color: #4585c3;
}

a:hover {
    text-decoration: none;
}


/* 清除IE下<input>的关闭图标 */

input::-ms-clear,
input::-ms-reveal {
    display: none;
}


/* 通用的类
 * =======================================================
 */


/* 字体图标右侧，添加一个字距的空白*/

i.fa {
    margin-right: 1em;
}


/* 重置样式*/

ul.reset,
ol.reset {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    border: 0;
}

.reset {
    font-size: 1em;
    margin: 0;
    padding: 0;
}


/* 头部<header>
 * =======================================================
 */

header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 110px;
    opacity: .9;
    background-color: #f9f9f9;
}

main {
    margin-top: 110px;
    background-position: top center;
    background-repeat: no-repeat;
}


/* 导航栏<nav> */

nav#primary-nav {
    position: relative;
    height: 100%;
    background: url(../img/bnulog.jpg) no-repeat left bottom;
}

nav#primary-nav ul {
    position: absolute;
    top: 40px;
    right: 0;
    display: inline;
}

nav#primary-nav ul > li {
    display: inline;
    float: left;
}

nav#primary-nav ul > li > a {
    font: 1.1em 'simhei', '黑体', Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: inline;
    float: left;
    width: 90px;
    padding: 15px 0;
    text-align: center;
    color: #333;
    border-right: 1px solid #ccc;
}

nav#primary-nav ul > li:nth-child(7) > a {
    border-right: 0;
}

nav#primary-nav ul > li > a:hover,
nav#primary-nav a.current {
    color: #014da1;
}

nav#primary-nav ul > li > a:visited,
nav#primary-nav ul > li > a:active,
nav#primary-nav ul > li > a:hover,
nav#primary-nav ul > li > a:link {
    text-decoration: none;
}


/* 跟随鼠标的滑块 */

nav#primary-nav .dynamic-bottom {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #014da1;
}


/* 下拉按钮，大屏时默认关闭 */

#dropdown-menu {
    position: relative;
    display: none;
    height: 55px;
    background-color: #333;
}

#dropdown-menu h1 {
    font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 55px;
    margin: 0;
    padding-left: 10px;
    color: #eee;
}

#dropdown-menu button {
    position: absolute;
    top: 10px;
    right: 10px;
}

#dropdown-menu i {
    margin-right: 0;
}


/* 媒体查询，使导航栏具有响应式 */

@media screen and (max-width: 992px) and (min-width: 701px) {
    header {
        height: 140px;
    }
    main {
        margin-top: 140px;
    }
    nav#primary-nav {
        background: url(../img/bnulog.jpg) no-repeat center top;
    }
    nav#primary-nav ul {
        top: 80px;
        left: 50%;
        width: 630px;
        margin-left: -315px;
    }
}

@media screen and (max-width: 700px) {
    header {
        position: static;
        height: auto;
    }
    main {
        margin-top: 0;
    }
    nav#primary-nav {
        display: none;
        background: none;
    }
    nav#primary-nav ul {
        position: static;
        display: block;
    }
    nav#primary-nav ul > li {
        display: block;
        float: none;
    }
    nav#primary-nav ul > li > a {
        display: block;
        float: none;
        width: auto;
        border-right: 0;
    }
    nav#primary-nav .dynamic-bottom {
        display: none;
    }
    #dropdown-menu {
        display: block;
    }
}


/* 首页
 * =======================================================
 */


/*
 * 滑动图片
 */

#slider {
    position: relative;
    overflow: auto;
}


/* 滑动图片：图片 */

#slider ul > li {
    float: left;
    width: 100%;
}

#slider img {
    width: 100%;
    height: auto;
}


/* 滑动图片：文字标题 */

#slider p.slider-title > span {
    font-size: 1.6em;
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 10%;
    width: 25%;
    min-width: 200px;
    padding: 20px 30px;
    letter-spacing: .1em;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}

@media screen and (max-width: 992px) and (min-width: 701px) {
    #slider p.slider-title > span {
        font-size: 1.2em;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 700px) {
    #slider p.slider-title > span {
        font-size: 1.0em;
        padding: 5px 10px;
    }
}


/* 滑动图片：导航点 */

#slider ol.dots {
    position: absolute;
    z-index: 3;
    right: 50%;
    bottom: 5%;
}

#slider ol.dots > li.dot {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

#slider ol.dots > li.active {
    background-color: #014da1;
}


/* 滑动图片：上一页、下一页 */

.arrows span {
    font-size: 2em;
    line-height: 60px;
    position: absolute;
    z-index: 3;
    top: 40%;
    display: inline-block;
    width: 45px;
    height: 60px;
    cursor: pointer;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -ms-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}

.arrows span:hover {
    background-color: rgba(0, 0, 0, .8);
}

.arrows span.prev {
    left: 10px;
}

.arrows span.next {
    right: 10px;
}

.arrows span > i.fa {
    margin: 0;
}


/*
 * 链接区域
 */


/* 布局 */

.link-list,
.news-list {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .link-list,
    .news-list {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* 左侧链接 */

.link-list li {
    position: relative;
    display: block;
    margin: 30px 0;
    text-align: center;
}

.link-list li > a {
    font-size: 1.3em;
    display: inline-block;
    padding: 20px 30px;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    letter-spacing: .1em;
    color: #fff;
    -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
    -ms-box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
    -o-box-shadow: 5px 5px 4px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 700px) {
    .link-list li > a {
        font-size: 1.2em;
        padding: 10px 20px;
    }
}

.link-list li > a:hover {
    opacity: .8;
}

.link-list li > i.ding {
    position: absolute;
    z-index: 2;
    top: -8px;
    left: 50%;
    width: 15px;
    height: 15px;
    background: url(../img/ding.png) no-repeat center;
    background-size: 100% 100%;
}

.link-list li:nth-child(1) > a {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    background-color: #c35b45;
}

.link-list li:nth-child(2) > a {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    background-color: #6bc345;
}

.link-list li:nth-child(3) > a {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    background-color: #4a848b;
}

.link-list li:nth-child(4) > a {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: #5d45c3;
}

@media screen and (max-width: 992px) {
    .link-list li:nth-child(1) > a,
    .link-list li:nth-child(2) > a,
    .link-list li:nth-child(3) > a,
    .link-list li:nth-child(4) > a {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


/* 右侧链接 */

.news-list-header {
    position: relative;
}

.news-list-header h3 {
    font: 1.3em 'simhei', '黑体', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0 0 10px 0;
    color: #014da1;
    border-bottom: 1px solid #ccc;
}

.news-list-header a.more {
    font-size: .8em;
    position: absolute;
    right: 0;
    bottom: 5px;
}

.news-list-header a.more:hover {
    color: #ff4599;
}

.news-list li {
    position: relative;
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.news-list li > a {
    font-size: 1.0em;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 80px;
    display: block;
    overflow: hidden;
    width: 80%;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #444;
}

.news-list li > a:hover {
    text-decoration: underline;
    color: #014da1;
}

.news-list li > time {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 60px;
    height: 100%;
}

.news-list li > time > .year-month,
.news-list li > time > .day {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
}

.news-list li > time > .year-month {
    font-size: .8em;
    top: 0;
    height: 45%;
    color: #fff;
    background-color: #29496b;
}

.news-list li > time > .day {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    bottom: 0;
    height: 55%;
    color: #29496b;
    background-color: #e8e8e8;
}


/* 底部链接 */

.special-stu {
    padding: 50px 0 30px 0;
    text-align: center;
    background-color: #eee;
}

.special-stu ul {
    display: inline-block;
}

.special-stu li {
    display: inline-block;
    float: left;
    height: 78px;
}

.special-stu li > a {
    position: relative;
    display: inline-block;
    float: left;
    width: 130px;
    height: 38px;
    -webkit-transition: background-position .4s;
    -moz-transition: background-position .4s;
    -ms-transition: background-position .4s;
    -o-transition: background-position .4s;
    transition: background-position .4s;
    color: #333;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
}

.special-stu li > a:hover {
    color: #014da1;
}

.special-stu li:nth-child(7) > a {
    background-position: center 0px;
}

.special-stu li:nth-child(7) > a:hover {
    background-position: center -53px;
}

.special-stu li:nth-child(2) > a {
    background-position: center -106px;
}

.special-stu li:nth-child(2) > a:hover {
    background-position: center -159px;
}

.special-stu li:nth-child(6) > a {
    background-position: center -214px;
}

.special-stu li:nth-child(6) > a:hover {
    background-position: center -268px;
}

.special-stu li:nth-child(1) > a {
    background-position: center -320px;
}

.special-stu li:nth-child(1) > a:hover {
    background-position: center -373px;
}

.special-stu li:nth-child(5) > a {
    background-position: center -426px;
}

.special-stu li:nth-child(5) > a:hover {
    background-position: center -480px;
}

.special-stu li:nth-child(3) > a {
    background-position: center -536px;
}

.special-stu li:nth-child(3) > a:hover {
    background-position: center -590px;
}

.special-stu li:nth-child(4) > a {
    background-position: center -641px;
}

.special-stu li:nth-child(4) > a:hover {
    background-position: center -694px;
}

.special-stu li > a > span {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
}


/* 页脚<footer> 
 * =======================================================
 */

footer {
    padding: 10px 0 30px 0;
    background-color: #333;
}

footer h3 {
    font-size: 1.2em;
    margin: 40px 0 20px 0;
    letter-spacing: .2em;
    color: #eee;
}

footer ul > li {
    line-height: 2em;
    color: #c0c0c0;
}

footer ul > li > a {
    color: #c0c0c0;
}

footer ul > li > a:hover {
    color: #4a848b;
}


/* 页面 
 * =======================================================
 */


/* 页面布局 */

.page {
    margin: 100px 0 50px 0;
    padding: 20px 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
@media screen and (max-width: 700px) {
    .page{
        margin-top: 30px;
    }
}
.page-head {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.page-body {
    margin: 20px 0 30px 0;
}

.page-foot {
    margin: 30px 0;
}


/* 标题 */

.page-title {
    font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
    letter-spacing: .2em;
}


/* 当前路径 */

.page-currpath a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .9em;
    padding: 0 10px;
    color: #666;
    border-right: 1px solid #ccc;
}

.page-currpath a:first-child {
    padding-left: 0;
}

.page-currpath a:last-child {
    padding-right: 0;
    border-right: 0;
}

.page-currpath a:hover {
    text-decoration: underline;
    color: #014da1;
}


/* 页面信息：发布时间、浏览次数等 */

ul.page-des {
    font-size: .8em;
    color: #888;
    text-align: center;
}

.page-des li {
    display: inline-block;
    margin-right: 40px;
}

.page-des li:last-child {
    margin-right: 0;
}

.page-des a {
    color: #888;
}

.page-des a:hover {
    color: #014da1;
}


/* 分页导航 */
.page-info,
.page-navigation{
    display: inline-block;
    width: 49%;
}
.page-info {
    letter-spacing: .05em;
    color: #999;
    text-align: left;
}

.page-navigation {
    text-align: right;
}

.page-navigation a {
    color: #f00;
}

.page-navigation a:hover {
    color: #014da1;
}

.page-info span,
.page-navigation a {
    display: inline-block;
    font-size: .9em;
    margin-right: 20px;
}

@media screen and (max-width: 992px){
    .page-info,
    .page-navigation {
        text-align: center;
        width: 100%;
    }
    .page-info span,
    .page-navigation a {
        margin-right: 10px;
    }
}

/*上一篇、下一篇*/

ul.page-neighbor {
    margin-top: 30px;
}

.page-neighbor li {
    display: inline-block;
    width: 49%;
}

.page-neighbor .prev-neighbor {
    text-align: left;
}

.page-neighbor .next-neighbor {
    text-align: right;
}

.page-neighbor a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    color: #014da1;
}

.page-neighbor a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .page-neighbor li {
        display: inline-block;
        width: 100%;
    }
    .page-neighbor .next-neighbor {
        text-align: left;
    }
}


/* 附件下载 */

.page-attachment {
    margin-bottom: 30px;
}

.page-attachment h4 {
    font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 15px;
    letter-spacing: .1em;
    color: #f00;
}

.page-attachment li {
    height: 25px;
}

.page-attachment a {
    font-size: .9em;
    color: #555;
}

.page-attachment a:hover {
    text-decoration: underline;
    color: #014da1;
}


/* list页面 */

.listpage .page-currpath {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.listpage .bule-block {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 130px;
    height: 4px;
    margin: 0;
    padding: 0;
    background-color: #014da1;
}

.page-article-list li {
    clear: both;
    height: 50px;
    border-bottom: 1px #ccc dotted;
}

.page-article-list li:hover time {
    color: #0106a1;
}

.page-article-list a,
.page-article-list time {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 50px;
    display: block;
    float: left;
}

.page-article-list a {
    font-size: 1.1em;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    letter-spacing: .05em;
    text-overflow: ellipsis;
    color: #333;
}

.page-article-list a:hover {
    color: #014da1;
}

.page-article-list time {
    font-size: .9em;
    width: 20%;
    text-align: right;
    color: #777;
}


/* article 页面 */

.artilepage .page-title {
    margin: 30px 0;
    text-align: center;
}

.artilepage .page-foot {
    border-top: 1px dotted #ccc;
}
